fantasypl2020/
old/
fpl/
keys/
understat/
maindata/
fixtures/
projections/
wip/
tempfiles/
tempfiles2021/
botTweet.py
tempfiles_2020/
playerHistory/
playerHistory2021/
projectionGraphs/
projectionGraphs2021/
preaseason21.py
*.png
*.ttf
saveToDB.py
*pycache/
*.pyc
keys_pl_understat_2020.*
oldkeys/
env/